:root {
  /* ========= PAGE BACKGROUND ========= */

  --bg-primary: #0B0F1A;
  --bg-secondary: #0F1629;
  --bg-card: #121A2F;
  --bg-hover: #16213E;

  /* ========= MAIN BLUE COLORS ========= */

  --accent-primary: #3B82F6;
  --accent-secondary: #2563EB;
  --accent-glow: rgba(59, 130, 246, 0.5);

  /* ========= TEXT COLORS ========= */

  --text-primary: #E5E7EB;
  --text-secondary: #9CA3AF;
  --text-muted: #6B7280;
  --border-color: #1F2937;
  --divider: #111827;

  /* ========= BUTTON STYLES ========= */

  --btn-primary-bg: var(--accent-primary);
  --btn-primary-hover: var(--accent-secondary);
  --btn-secondary-bg: transparent;
  --btn-secondary-border: #ffffff1f;

  /* ========= HERO EFFECT ========= */

  --gradient-hero: radial-gradient(circle at center,
      rgba(59, 130, 246, 0.15) 30%,
      rgba(11, 15, 26, 1) 100%);

}

* {
  margin: 0;
  padding: 0; 
  box-sizing: border-box;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body,
html {
  height: 100%;
  width: 100%;
  scroll-behavior: smooth;  
  background-color: var(--bg-primary);
  color: var(--text-primary);
}

.navbar {
  position: sticky;
  top: 0;
   z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: var(--bg-secondary);

}

.navlinks {
  display: flex;
  gap: 1.5rem;
}

.navlinks a {
  color: var(--text-muted);
  text-decoration: none;
  font-weight: lighter;
  transition: color .3s ease;
}

.navlinks a:hover {
  color: var(--accent-primary);
  border-bottom: 1px solid var(--accent-primary);
}

.primarybtn {
  background-color: var(--btn-primary-bg);
  color: var(--text-primary);
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-decoration: none;
}

.primarybtn:hover {
  background-color: var(--btn-primary-hover);
}

.secondarybtn {
  background-color: var(--btn-secondary-bg);
  color: var(--text-primary);
  padding: 0.5rem 1rem;
  border: 2px solid var(--btn-secondary-border);
  border-radius: 8px;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.3s ease, border-color 0.3s ease;
}

.secondarybtn:hover {
  background-color: var(--btn-secondary-border);
  border-color: var(--btn-primary-bg);
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 30px;
  padding: 4rem 2rem;
  background-image: var(--gradient-hero);
}

.heroinfo {
  padding: 0.5rem 1rem;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.06);
  /* backdrop-filter: blur(10px); */
  border: 1px solid var(--btn-secondary-border);
}

.herotitle {
  font-size: 2.5rem;
  font-weight: bold;
}

.herodesc {
  width: 70%;
  color: var(--text-secondary);
  line-height: 1.5;
}

.herobtns {
  display: flex;
  gap: 1rem;
}

.projectSection {
  padding: 5rem 2.5rem;
  background-color: var(--bg-secondary);
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.projectcardparent {
  padding: 1rem 2rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.projectCard {
  background-color: var(--bg-card);
  padding: 1rem;
  border-radius: 8px;
  width: 32%;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.projectImg {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 8px;
}

.projectTitle {
  font-size: 1.5rem;
}

.projectDesc {
  color: var(--text-secondary);
  line-height: 1.4;
}

.projectlink {
  color: var(--accent-primary);
  text-decoration: none;
  font-weight: bold;
  margin-top: auto;
  transition: color 0.3s ease;
}

.projectlink:hover {
  color: var(--accent-secondary);
}

.projectSectionTitle {
  font-size: 2.5rem;
}

.projectSectionTitle span {
  padding: 0.25rem 0;
  border-bottom: 4px solid var(--accent-primary);
}

.projectSectionDesc {
  color: var(--text-secondary);
  line-height: 1.5;
}

.techcardsection {
  margin-top: 50px ;
  padding: 5rem 2.5rem;
  background: rgba(255, 253, 235, 0.08);
  border: 1px solid var(--btn-secondary-border);
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.techcardcontainer {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  padding: 1.3rem;
}

.techcard {
  background: rgba(245, 245, 245, 0.02);
  padding: 1rem;
  border-radius: 8px;
  width: 17.5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  box-shadow: 0 4px 6px rgba(5, 8, 7, 0.6);
}

.techcardsection-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.3rem;
}

.techcardsection-content .section-title {
  font-size: 3rem;
}

.techcardsection-content .section-desc {
  color: var(--text-secondary);
  line-height: 1.5;
  width: 60%;
  text-align: center;
}

.techcard-title {
  font-size: 1rem;
  color: var(--text-primary);
}

.techcard-icon {
  width: 40px;
  height: 40px;
  color: var(--accent-secondary);
}


.TestimonialSection {
  margin-top: 50px;
  padding: 5rem 2.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.testimonialcontent {
  display: flex;
  flex-direction: column;
  align-items: center;
  word-spacing: 2px;
  gap: 1.3rem;
}

.testimonialSectionTitle {
  font-size: 3rem;
}

.testimonialSectionDesc {
  color: var(--text-secondary);
  line-height: 1.5;
  width: 60%;
  text-align: center;
}

.testimonialcardparent {
  padding: 1rem 2rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.testimonialcardparent .swiper {
  width: 100%;
}

.testimonialcardparent .swiper-slide {
  display: flex;
  justify-content: center;
}

.testimonialCard {
  background: rgba(245, 245, 245, 0.02);
  box-shadow: 0 4px 12px rgba(30, 41, 59, 0.15);
  padding: 2rem;
  border-radius: 8px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}
.slider-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  background: rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255,255,255,0.15);
  border-radius: 50%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.3s ease;
}

.slider-arrow:hover {
  background: rgba(255, 255, 255, 0.15);
  transform: translateY(-50%) scale(1.1);
}

.slider-arrow.left {
  width: 40px;
  left: -20px;
}
.slider-arrow.right {
  width: 40px;
  right: -20px;
}

.quotecontainer {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0.5rem 1rem;
}

.quotation {
  color: var(--accent-primary);
  font-size: 3rem;
}

.testimonialDesc {
  color: var(--text-secondary);
  line-height: 1.4;
  font-style: italic;
}

.infocontainer {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.infoImg {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}
#contact{
  margin-top: 50px;
}
.contactsection {
  padding: 5rem 2.5rem;
  width: 95%;
  margin: 0 auto;
  border-radius: 30px;
  background: rgba(255, 255, 255, 0.02);
  display: flex;
  gap: 1.5rem;
}
.contactsection .left{
  width: 60%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.contactheading {
  font-size: 2.5rem;
}
.contactdesc {
  color: var(--text-secondary);
  line-height: 1.5;
  width: 80%;
}
.contacts{
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}
.contact{
  display: flex;
  align-items: center;
  gap: 1rem;
}
.contact .contacticon{
  padding: 7px;
  background-color: var(--accent-primary);
  border-radius: 8px;;
  width: 40px;
  height: 40px;
}
.right{
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.formparent {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  background: transparent;
  border: 1px solid var(--btn-secondary-border);
  box-shadow: 0 4px 6px rgba(5, 8, 7, 0.6);
  padding: 1.5rem;
  border-radius: 8px;
}
.custom-toast {
  border:none !important;
  border-radius: 28px !important;
  padding: 1rem   !important;
}
.form{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}
.forminput {
  padding: 0.75rem;
  border-radius: 8px;
  border: 1px solid var(--border-color);
  color: var(--text-primary);
  background-color:#16213E;
}
.forminput::placeholder {
  color: var(--text-primary);
  font-style: italic;
}
.form #message {
  height: 100px;
  resize: none;
  background-color:#16213E;
  color: var(--text-primary);
}
.form #message::placeholder {
  padding: 10px;
  color: var(--text-primary);
  font-style: italic;
}
.form .submitbtn {
  background-color: var(--btn-primary-bg);
  color: var(--text-primary);
  padding: 0.75rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.form .submitbtn:hover {
  background-color: var(--btn-primary-hover);
}
.error {
  color: #EF4444;
  font-size: 0.9rem;
  margin-top: -0.5rem;
}

.footer{
  padding: 1rem 2rem;
  text-align: center;
  color: var(--text-secondary);
  margin-top: 40px;
  background-color: var(--bg-secondary);
  display: flex;
  justify-content: space-between;
}
.links{
  display: flex;
  gap: 1rem;
}
.footer a{
  color: var(--accent-primary);
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
}
.footer a:hover{
  color: var(--accent-secondary);
}

@media (max-width:768px) {
  body{
    overflow-x: hidden;
  }
  .navbar {
    position: static;
    flex-direction: column;
    gap: 1rem;
  }

  .navlinks {
    gap: 2rem;
  }

  .hero {
    padding: 3rem 1rem;
  }

  .herodesc {
    width: 100%;
  }

  .projectCard {
    width: 100%;
  }

  .techcard {
    width: 30%;
  }

  .techcardcontainer {
    justify-content: center;
  }

  .techcardsection {
    padding: 3rem 1rem;
  }

  .techcardsection-content {
    gap: 0.8rem;
  }

  .techcard-title {
    font-size: 1rem;
    color: var(--text-primary);
  }

  .techcardsection-content .section-title {
    font-size: 2.5rem;
  }

  .techcard-icon {
    width: 40px;
    height: 40px;
    color: var(--accent-secondary);
  }

  .techcardsection-content .section-desc {
    width: 100%;
  }
  .testimonialcardparent .swiper-slide {
  display: flex;
  justify-content: center;
  }
  .testimonialCard {
    width: 100%;
  }


  .testimonialSection {
    padding: 2rem 0.75rem;
  }

  .testimonialcontent {
    gap: 0.8rem;
  }

  .testimonialSectionTitle {
    font-size: 2.5rem;
  }

  .testimonialSectionDesc {
    width: 100%;
  }

  .testimonialcontent .testimonialDesc {
    font-size: 0.9rem;
  }

  .testimonialTitle {
    font-size: 0.9rem;
  }
  .testimonialRole {
    font-size: 0.7rem;
    
  }

  .quotation {
    font-size: 5rem;
  }
  .contactsection {
    overflow: hidden;
    flex-direction: column;
    width: 100%;
  }
  .contactsection .left{
    width: 100%;
  }
  .contactsection .right{
    width: 100%; 
  }
  .formparent {
    width: 95%;
  }
  .footer {
    flex-direction: column;
    gap: 1rem;
  }
  .rights {
    text-align: center;
  }
  .links {
    justify-content: center;
  }
  .slider-arrow.left {
    width: 30px;
    height: 30px;
    left: 2px;
  }
  .slider-arrow.right {
    width: 30px;
    height: 30px;
    right: 2px;  
  }
}